<section class="product-listing-section">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card class="example-card" *ngFor="let feed of searchData['items']">
      <img mat-card-image src="{{ feed['avatar_url'] }}" alt="" />
      <mat-card-content>
        <p class="listing-username">
          {{ feed["login"] }}
        </p>
        <button
          class="more-info"
          color="primary"
          mat-raised-button
          [routerLink]="['', feed['login']]"
        >
          <span>More Info</span>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
